<!-- <p>userlist works!</p> -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th> 
                <th scope="col">Date of birth</th>
                <th scope="col">Date of joining</th>
                <th scope="col">Pin code</th> 
                <th scope="col"></th> 
                <th scope="col"></th> 

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userData of userData let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{userData.firstName}}</td>
                <td>{{userData.lastName}}</td>
                <td>{{userData.email}}</td>
                <td>{{userData.dob | date }}</td>
                <td>{{userData.doj | date}}</td>
                <td>{{userData.pinCode}}</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click) = "onDelete(userData)" >Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>